<mat-toolbar>
  
  <button mat-icon-button  matTooltip="MENU" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button class="logo-button"  matTooltip="HOME" routerLink="/home">
    <span class="logo-link">
      <span class="logo">Linkr</span>
      <span class="logo-dot">.</span>
      <span class="logo-me">me</span>
    </span>
  </button>

  <span class="spacer"></span>

  <div class="tab" [routerLinkActive]="['tab-active']">  
    <button mat-icon-button matTooltip="LINKS" routerLink="/links" >
      <mat-icon>links</mat-icon>
    </button>
  </div>

  <div class="tab" [routerLinkActive]="['tab-active']">  
    <button mat-icon-button matTooltip="NOTES" routerLink="/notes">
      <mat-icon >text_snippet</mat-icon>
    </button>
  </div>

  <div class="tab" [routerLinkActive]="['tab-active']">  
    <button mat-icon-button matTooltip="LISTS" routerLink="/lists">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </div>

  <div class="tab" [routerLinkActive]="['tab-active']">  
    <button mat-icon-button matTooltip="REMINDERS" routerLink="/reminders">
      <mat-icon matBadge="2" matBadgeColor="warn">av_timer</mat-icon>
    </button>
  </div>
  
  <div class="login-button">  
    <button mat-icon-button matTooltip="LOGIN">
      <mat-icon color="primary" >person</mat-icon>
    </button>
  </div>  

</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>