<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">linkr.me</span>
  <span class="example-spacer"></span>

  <div class="tab-active">  
    <button mat-icon-button>
      <mat-icon>links</mat-icon>
    </button>
  </div>
  <div class="tab-inactive">  
    <button mat-icon-button>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </div>
  <div class="tab-inactive">  
    <button mat-icon-button>
      <mat-icon matBadge="2" matBadgeColor="warn">av_timer</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="example-icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>