
html, body {
  height: 100%;
  background-color: #313131;
  color: #efefef;
  
}
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar.mat-primary {
  background: #272727;
  color: #fff;
}