
@import 'bootstrap-4-grid/css/grid.css'; // https://getbootstrap.com/docs/4.4/layout/grid/
// @import '~bootstrap-utilities'; // https://getbootstrap.com/docs/4.4/utilities/

html, body {
  height: 100%;
  background-color: #313131;
  color: #efefef;
  
}
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #272727;
  color: #fff;
}

.page {
  padding: 10px;
}

.feature-toolbar {
  background: #424242;
  min-height: 30px !important;
  height: 30px !important;
}